.login-container {
    text-align: center;
    padding-top: 10%;
    background-color: #191f22;
    color: #eeeeee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container h1 {
    color: #FFFFFF;
    font-size: 36px;
    margin-bottom: 20px;
}

.login-container input {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333333;
    color: #FFFFFF;
}

.login-container button {
    background: #FFFFFF;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background: #AAAAAA;
    transition: 0.3s;
}

.message {
    margin-top: 20px;
    font-size: 16px;
    color: #E0245E; /* Error red for unsuccessful login */
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #AAAAAA;
}

.signup-link {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}