.profile-container {
    text-align: center;
    padding: 50px;
    background-color: #191f22; /* Adjusted to match the background color */
    color: #eeeeee; /* Adjusted to match the text color */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container h1 {
    color: #FFFFFF; /* Adjusted to match the heading color */
    font-size: 36px;
    margin-bottom: 20px;
}

.profile-container input, .profile-container textarea {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333333; /* Adjusted to match the input background color */
    color: #FFFFFF; /* Adjusted to match the input text color */
}

.profile-container button {
    background: #FFFFFF; /* Adjusted to match the button background color */
    color: #000000; /* Adjusted to match the button text color */
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.profile-container button:hover {
    background: #AAAAAA; /* Adjusted to match the button hover color */
    transition: 0.3s;
}

.message {
    margin-top: 20px;
    font-size: 16px;
    color: #E0245E; /* Error red for unsuccessful follow/unfollow */
}

.file-send-section, .received-files-section {
    margin: 20px 0;
    text-align: left;
}

.file-send-section h2, .received-files-section h2 {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 10px;
}

.received-files-section ul {
    list-style: none;
    padding: 0;
}

.received-files-section li {
    margin: 10px 0;
    padding: 10px;
    background-color: #444444; /* Adjusted to match the item background color */
    color: #FFFFFF; /* Adjusted to match the item text color */
    border-radius: 5px;
}

.received-files-section li a {
    color: #1DA1F2; /* Link color */
    text-decoration: none;
}

.received-files-section li a:hover {
    text-decoration: underline;
}